[Desktop Entry]
Version=1.0
Type=Application
Name=Chaplain (Instalação Completa)
Comment=Instalar e Iniciar Sistema de Mensagens WhatsApp
Exec=/home/cloud/Downloads/chaplain/instalar_e_iniciar_chaplain.sh
Path=/home/cloud/Downloads/chaplain
Icon=system-software-install
Terminal=true
Categories=Network;Office;System;
StartupNotify=true 